@import url("node_modules/@fontsource/firago/300.css");
@import url("node_modules/@fontsource/firago/400.css");
@import url("node_modules/@fontsource/firago/500.css");
@import url("node_modules/@fontsource/firago/700.css");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* font-family: "Noto Sans Georgian", sans-serif; */
  font-family: "FiraGO", sans-serif;
}

/* LOGO-02 3 */
.logo {
  /* LOGO-02 3 */
  width: 150px;
  height: 24px;
  /* Inside auto layout */
  flex: none;
  order: 0;
  flex-grow: 0;
}
.logo:hover {
  cursor: pointer;
}
.head {
  background-color: #ffffff;
  height: 100px;
  width: 100%;
  border-bottom: 1px solid #dbdbdb;
  padding: 38px 162px 38px 162px;
}

#options {
  /* position: fixed; */
  /* top: 177px;
  left: 162px; */
  /* margin-top: 77px;
  margin-left: 162px; */
  display: flex;
  /* height: 47px; */
  justify-content: space-between;
  width: 1596px;
  align-items: flex-start;
  /* padding-right: 162px; */
  margin-top: 77px;
}
#filters {
  position: relative;
  display: flex;
  gap: 24px;
  border: 1px solid #dbdbdb;
  border-radius: 10px;
  height: min-content;
  padding: 6px;
  background-color: white;
}
/* main {
  width: 1596px;
} */
section {
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}
select:hover {
  cursor: pointer;
}
button:hover {
  cursor: pointer;
}
#add-listing,
.choose {
  border: none;
  border-radius: 10px;
  padding: 10px 16px 10px 16px;
  background-color: #f93b1d;
  color: white;
}
#add-agent {
  border: 1px solid #f93b1d;
  border-radius: 10px;
  padding: 10px 16px 10px 16px;
  background-color: white;
  color: #f93b1d;
  height: 47px;
}
#add-buttons {
  display: flex;
  gap: 16px;
}
#add-listing:hover,
.choose:hover {
  background-color: #d63118;
}
#add-agent:hover {
  border-color: #d63118;
  color: #d63118;
  background-color: #f0f0f0;
}
.link {
  background-color: Transparent;
  border: none;
  font-weight: 700;
}
.dropdown {
  position: relative;
  font-weight: 400;
  padding: 8px 14px 8px 14px;
}
.dropdown-menu {
  position: absolute;
  left: -6px;
  top: calc(100% + 20px);
  background-color: white;
  border: 1px solid #dbdbdb;
  padding: 24px;
  border-radius: 10px;
  pointer-events: none;
  opacity: 0;
  transition: opacity 150ms ease-in-out;
  width: max-content;
  box-shadow: 5px 5px 15px #e2e2e20e;
  z-index: +2;
}
.dropdown.active > .link,
.link:hover {
  color: black;
}
.dropdown.active {
  background-color: #f5f5f5;
  border-radius: 10px;
}
/* .dropdown.active > .link {
  background-color: #dbdbdb;
} */
.dropdown.active > .link + .dropdown-menu {
  opacity: 1;
  pointer-events: auto;
}
label {
  display: flex;
  align-items: center;
  gap: 8px;
  /* line-height: 17px; */
  font-size: 14px;
  font-weight: 400;
}
input[type="checkbox"]:hover {
  cursor: pointer;
  accent-color: green;
}
input {
  accent-color: green;
}
.checkbox-groups {
  display: flex;
  flex-direction: row;
  gap: 50px;
}
.checkbox-group {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.dropdown-menu-header {
  font-size: 16px;
  font-weight: 700;
  margin-bottom: 24px;
}
.choose {
  float: right;
  margin-top: 35px;
  width: 79px;
}
#lower-upper {
  display: flex;
  justify-content: space-between;
  gap: 15px;
  width: 325px;
}
.lari {
  border-radius: 6px;
  border: 1px solid #dbdbdb;
  height: 42px;
  padding: 10px 20px;
  padding-right: 30px;
  width: 150px;
  position: relative;
}
#lari-number-1 {
  position: absolute;
  left: 155px;
  top: 77px;
}
#lari-number-2 {
  position: absolute;
  left: 330px;
  top: 77px;
}
#area-1 {
  position: absolute;
  top: 77px;
  left: 150px;
}
#area-2 {
  position: absolute;
  left: 325px;
  top: 77px;
}
.guide-content {
  display: flex;
  gap: 24px;
  margin-top: 24px;
}
.mins,
.maxs {
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 155px;
}
.count {
  width: 41px;
  padding: 15px;
}
#rooms-count {
  display: flex;
  flex-direction: column;
}

#selected-filters {
  display: flex;
  flex-direction: row;
  gap: 10px;
}
#selected {
  display: flex;
  flex-direction: row;
  margin-top: 10px;
  gap: 15px;
}
.clear-button-design {
  border: none;
  background: transparent;
  font-weight: 700;
}
.invisible {
  opacity: 0;
}
.filtered-by-functionality {
  border: 1px solid #dbdbdb;
  border-radius: 43px;
  background-color: transparent;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 6px 10px;
  gap: 4px;
}
.filtered-by-functionality:hover {
  cursor: pointer;
}
.filtered-by {
  font-size: 14px;
  color: #021526cc;
}
.remove-filter-x {
  border: none;
  background-color: transparent;
  color: #021526cc;
  font-size: 16px;
  margin-bottom: 2px;
}
.clear-button-design {
  pointer-events: auto;
}
.clear-button-design.invisible {
  pointer-events: none;
}
.listing-card {
  width: 384px;
  height: 455px;
  border-radius: 14px;
  overflow: hidden;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);

  border: 1px solid #ddd;

  /* height: 384px; */
}
/* .listing-card img {
  width: 100%;
  height: 180px;
  object-fit: cover;
} */
.img-apartment {
  width: 384px;
  height: 307px;
}
.card-body {
  padding: 15px;
}
.listing-card {
  transition: transform 0.5s ease, box-shadow 0.5s ease;
  position: relative;
}
.listing-card:hover {
  cursor: pointer;
  transform: translate(0, -5px);
  box-shadow: 0 9px 8px rgba(0, 0, 0, 0.1);
}
.location-ionicon {
  width: 14px;
}
.location {
  margin-top: 16px;
  color: #686868;
}
.ionicon {
  width: 14px;
  fill: #686868;
}
.lower-icons {
  display: flex;
  flex-direction: row;
  gap: 25px;
  margin-top: 15px;
}
.cost {
  font-size: 28px;
  line-height: 33.6px;
}
.icon-and-info {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 8px;
}
.listings-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr); /* 4 columns */
  gap: 10px; /* Adjust spacing between grid items */
  width: 1596px;
}
.grid-center {
  display: flex;
  justify-content: center;
  margin-top: 25px;
}
.status-label {
  position: absolute;
  top: 20px;
  left: 15px;
  width: 90px;
  font-size: 12px;
  color: #ffffff;
  background-color: #02152680;
  padding: 6px;
  display: flex;
  justify-content: center;
  font-weight: 500;
  border-radius: 15px;
}
.hidden {
  display: none;
}
